body{
    font-family: "Open Sans", sans-serif;
    color: #828282;
    text-align: center;
    margin: 0;
}

body span {
    color: #3F3D56;
}

#image {
    margin: 64px 0px 32px 0px;
}

h1 {
    font-family: "Dosis", sans-serif;
    color: #3F3D56;
    margin-bottom: 16px;
}

h1 span{
    color: #EE24FF;
}

p strong {
    text-weight: bold;
    color: #3F3D56;
}

.text {
    max-width: 40%;
    margin: auto;
}

#information {
    margin-top: 27px;
    margin-bottom: 64px;
}

#line {
    width: 391px;
    height: 0px;
    margin: 0 auto 16px;
    border: 1px solid #ECEFF2;
}

.contact {
    text-align: center;
    margin-bottom: 40.8px
}

a {
    color: #3F3D56;
    font-weight: bold;
    text-decoration: none;
    margin: 0 42px;
}

#wave {
   bottom: 0px;
   left: 0px; 
   width: 100%;  
}

#wave img {
   height: auto;
   margin-top: 40.8px;
}